@import 'variable';
body{
    position: relative;
}
#{headings()}{
    font-family: $headFont;
}
p, li{
    font-family: $bodyFont;
}

h1{
    font-size: 3em;
}

h2{
    margin: 2em 0px .5em;
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

article{
    margin-bottom: 2.5em;
}
