@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Ledger);


$navBarBackground: grey;
$background: white;
$head: black;
$body: blue;
$buttonBackground: green;
$button: blue;

$headFont:'Nixie One', Georgia, serif;
$bodyFont:'Ledger', Garamond, Georgia, serif;